.comment-form {

}
.comment-form label {
	display: block;
	margin-bottom: 5px;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
	width: 100%;
}


/*
  ========================================
  Comments
  ========================================
*/

.commentlist {
	margin-left: -2%;
    margin-right: -2%;

   /*margin-left: calc(-100vw / 2 + 500px / 2);
  margin-right: calc(-100vw / 2 + 500px / 2);*/
}

.commentlist h2 {
	font: 700 20px/26px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000;
    letter-spacing: .5px;   
	display: inline-block;	  	  
	transition: all .15s ease;
}
.commentlist p,
.comment-respond {
	font:400 14px/1.6 "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 15px 0 20px 0;
	word-wrap: break-word;
	width: 100%;
	}

p.logged-in-as {
    font: 700 10px/16px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   }

.vcard img{
    display: inline-block;
    border-radius:50%;
    margin:0 auto;
    padding: 5px 0px 0px 5px; 
}

.comment-author-admin {
    margin: 0px 0px 0px 40px;
    background-color: #fbfbfb;
    padding: 2px; 
    color: #5C6BC0;
    border: 1px solid #f8f0cb;  
}

.comment-form label {
    font: 700 10px/16px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000;
    letter-spacing: .5px;   
}

/*
  ========================================
  Respond
  ========================================
*/

.commentlist .even .comment { 
background-color:#ccddf2; 
} 
.commentlist .odd .comment {
background-color:#CCC;
}

.comment-meta.commentmetadata,
.comment-author.vcard {
    background-color:#4f4f4f;
    padding: 2px;
    font:400 12px/1.6 "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}



li.bypostauthor cite span {
 /*   color: #21759b;
    background-color: #f8f0cb;
    background-image: none;
    border: 1px solid #f8f0cb;
    border-radius: 3px;
    box-shadow: none;
    padding: 3px;
    font-weight:bold;*/
}

#respond { 
background: #fbfbfb;
padding:10px;
}
  
/* Highlight active form field */
  
#respond input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #4f4f4f;
}
   
        #respond input[type=text]:focus,
        input[type=email]:focus, 
        input[type=url]:focus,
        textarea:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        margin: 5px 1px 3px 0px;
        border: 2px solid rgba(81, 203, 238, 1);
        }

#author, #email { 
font-family: "Open Sans", "Droid Sans", Arial;
font-style:italic;
color:#1d1d1d; 
letter-spacing:.1em;
} 
  
#url  { 
color: #1d1d1d;
font-family: "Luicida Console", "Courier New", "Courier", monospace; 
} 

#submit {
display:inline-block;
cursor:pointer;
text-shadow:0px 1px 0px #4f4f4f;
font:400 14px/1.6 "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #fff;
background-color: #4f4f4f; 
padding:8px;
} 
  
#submit:hover {
color: #f6e7d7;
/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ebedf0), color-stop(1, #5C6BC0));
background:-moz-linear-gradient(top, #ebedf0 5%, #5C6BC0 100%);
background:-webkit-linear-gradient(top, #ebedf0 5%, #5C6BC0 100%);
background:-o-linear-gradient(top, #ebedf0 5%, #5C6BC0 100%);
background:-ms-linear-gradient(top, #ebedf0 5%, #5C6BC0 100%);
background:linear-gradient(to bottom, #ebedf0 5%, #5C6BC0 100%);
background-color:#ebedf0; */
}
#submit:active { 
position:relative;
top:1px;
}

.reply { 
    display: inline-block;
    box-shadow: 1px 1px 2px 2px #4f4f4f;
    background-color: #5C6BC0; 
    padding:8px;
    
    
}
 
.comment article {
    padding-bottom:2.79rem;
}
 
a.comment-reply-link,
a.comment-edit-link {
    font:400 12px/10px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}
 
a.comment-reply-link:hover,
a.comment-edit-link:hover {
    color: #f6e7d7;
}

a.comment-edit-link {
    box-shadow: 1px 1px 2px 2px #4f4f4f;
    font:400 12px/10px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #5C6BC0; 
    padding:8px;
}

#cancel-comment-reply-link  { 
    box-shadow: 1px 1px 2px 2px #4f4f4f;
   /* text-decoration:none;*/
    font:400 12px/10px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #5C6BC0; 
    padding:8px;
}

/*
  ========================================
  Responsive
  ========================================
*/

@media (min-width: 768px) {
    .commentlist {
        margin-left: -10%;
        margin-right: -10%;
    }
@media (min-width: 992px) {
    .commentlist {
        margin-left: -33.33%;
        margin-right: -33.33%;
    }
}



