.comment-form {

}
.comment-form label {
	display: block;
	margin-bottom: 5px;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
	width: 100%;
}


/*
  ========================================
  Comments
  ========================================
*/

.commentlist {
	margin-left: -2%;
    margin-right: -2%;

   /*margin-left: calc(-100vw / 2 + 500px / 2);
  margin-right: calc(-100vw / 2 + 500px / 2);*/
}

.commentlist h2 {
	font: 400 20px/26px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #5C6BC0;
	   display: inline-block;	  	  
	  transition: all .15s ease;
}
.commentlist p,
.comment-respond {
	font:400 14px/1.6 "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 15px 0 20px 0;
	word-wrap: break-word;
	width: 100%;
	}

.vcard img{
    display: inline-block;
    border-radius:50%;
    margin:0 auto;
    padding: 5px 0px 0px 5px; 
}

.comment-author-admin {
    margin: 0px 0px 0px 40px;
    background-color: #fbfbfb;
    padding: 10px; 
    border: 1px solid #DDDDDD;
    border-radius: 5px;

     color: #21759b;
    
   
    border: 1px solid #f8f0cb;
    border-radius: 3px;
    box-shadow: none;
    padding: 3px;
    font-weight:bold;
}


/*
  ========================================
  Respond
  ========================================
*/

.commentlist .even .comment { 
background-color:#ccddf2; 
} 
.commentlist .odd .comment {
background-color:#CCCCCC;
}

.comments-area article header {
    margin: 0 0 48px;
    overflow: hidden;
    position: relative;
    background-color:#55737D;
    color:#FFFFFF;
    padding: 10px;
}

li.bypostauthor cite span {
    color: #21759b;
    background-color: #f8f0cb;
    background-image: none;
    border: 1px solid #f8f0cb;
    border-radius: 3px;
    box-shadow: none;
    padding: 3px;
    font-weight:bold;
}

#respond { 
background: #fbfbfb;
padding:10px;
}
  
/* Highlight active form field */
  
#respond input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
   
        #respond input[type=text]:focus,
        input[type=email]:focus, 
        input[type=url]:focus,
        textarea:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        margin: 5px 1px 3px 0px;
        border: 2px solid rgba(81, 203, 238, 1);
        }

#author, #email { 
font-family: "Open Sans", "Droid Sans", Arial;
font-style:italic;
color:#1d1d1d; 
letter-spacing:.1em;
} 
  
#url  { 
color: #1d1d1d;
font-family: "Luicida Console", "Courier New", "Courier", monospace; 
} 

#submit {
background:-moz-linear-gradient(top, #5C6BC0 5%, #ebedf0 100%);
background:-webkit-linear-gradient(top, #5C6BC0 5%, #ebedf0 100%);
background:-o-linear-gradient(top, #5C6BC0 5%, #ebedf0 100%);
background:-ms-linear-gradient(top, #5C6BC0 5%, #ebedf0 100%);
background:linear-gradient(to bottom, #5C6BC0 5%, #ebedf0 100%);
background-color:#5C6BC0;
-moz-border-radius:28px;
-webkit-border-radius:28px;
border-radius:5px;
border:1px solid #5C6BC0;
display:inline-block;
cursor:pointer;
color:#5C6BC0;
font-family:Arial;
font-size:17px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
font:400 14px/1.6 "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
} 
  
#submit:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ebedf0), color-stop(1, #5C6BC0));
background:-moz-linear-gradient(top, #ebedf0 5%, #5C6BC0 100%);
background:-webkit-linear-gradient(top, #ebedf0 5%, #5C6BC0 100%);
background:-o-linear-gradient(top, #ebedf0 5%, #5C6BC0 100%);
background:-ms-linear-gradient(top, #ebedf0 5%, #5C6BC0 100%);
background:linear-gradient(to bottom, #ebedf0 5%, #5C6BC0 100%);
background-color:#ebedf0; 
}
#submit:active { 
position:relative;
top:1px;
}

/*
  ========================================
  Responsive
  ========================================
*/

@media (min-width: 768px) {
    .commentlist {
        margin-left: -10%;
        margin-right: -10%;
    }
@media (min-width: 992px) {
    .commentlist {
        margin-left: -33.33%;
        margin-right: -33.33%;
    }
}



