/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.continut {
  margin: 0 auto;
  padding-left: 320px;
  padding-right: 320px;
  padding-bottom: 77px;
  padding-top: 68px;
  width: 1400px;
   background-color: #5c6bc0;
}

.name {
  font-family: 'Lato', sans-serif;
  font-weight: bold 700 italic;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  color: #4A569A;
  margin-bottom: 65px;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  padding-bottom: 40px;
}

.footer ul li {
  display: inline;
  padding-right: 40px;
}

/**ul li::after {
   position: relative; 
   content: '';
   display: inline-block;
}*/

.footer ul li a {
  font-family: 'Lato', sans-serif;
  font-weight: bold 700;
  font-style: bold;
  font-size: 12px;  
  text-align: center;
  color: #9DA6D9;
  text-decoration: none;
 }

.footer ul li a:active {
  color: #9DA6D9;
}

.footer ul li a:link {
  color: #ffffff;
}

.footer ul li a:visited {
  color: #ffffff;
}

.footer ul li a:hover {
  color: #ffffff;
}

.copyrights p{
  font-family: 'Lato', sans-serif;
  font-size: 9px;
  display: block;
  text-align: center;
  color: #9DA6D9;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid #5765b5;
  border-bottom: 2px solid #5765b5;
}
.copyrights small{
  font-family: 'Lato', sans-serif;
  font-size: 9px;
  display: block;
  text-align: center;
  color: #9DA6D9;
  margin-top: 40px;
  margin-bottom: 40px;
}

#budha {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  color: #fff;
}

.follow {
	font-size: 25px;
	display: block;
	 text-align: center;
	 color: #fff;
	 padding-bottom: 65px;
}

.fab {
  color: #fff;
  margin-left: 20px;
}

   
