/*
  ========================================
  Primary header
  ========================================
*/

.logo {
	  font: 700 32px/40px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-top: 4px solid #5C6BC0;
	float: left;
	letter-spacing: .5px;
	padding: 40px 0 22px 0;	
	font-style: italic;
	}
.primary-menu {
	font: 700 12px/16px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*
  ========================================
  Navigation
  ========================================
*/

.menu {
  text-align: right;
}
.menu li {
  display: inline-block;
  margin: 60px 22px 22px 0;
  vertical-align: top;
 }
.menu li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Linkuri
  ========================================
*/

.primary-header a {
  color: #000;
  padding-bottom: 9px; 
 }
.primary-header a:hover {
  color: #000;
  border-bottom: 4px solid #5C6BC0; 
}
.primary-header a:focus {
  color: #bdbdbd;
 }