/*
  ========================================
  Primary header
  ========================================
*/

.logo {
	  font: 700 32px/40px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-top: 4px solid #5C6BC0;	
	letter-spacing: .5px;
	font-style: italic;
	 float: left;
	 width: 50%
	}

	/*@media (min-width: 768px) {
  		.logo {
    	width: 50%;
 	 }
	}
	@media (min-width: 992px) {
	  .logo {
	    width: 50%;
	  }
	}*/
	@media (min-width: 1230px) {
	  .logo {
	    padding: 40px 0 22px 220px;	
	    width:50%;
	  }
	}
input {
  display: none;
	}
	label,
	/*ul {
	  border: 1px solid #cecfd5;
	  border-radius: 6px;
	}*/
	label {
	  color: #5C6BC0;
	  cursor: pointer;
	  display: inline-block;
	  font-size: 32px;
	  padding: 5px 9px;
	  transition: all .15s ease;
	}
	label:hover {
	  color: #bdbdbd;
	}
	input:checked + label {
	  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
	  color: #9799a7;
	}
	.primary-menu nav {
	  max-height: 0;
	  overflow: hidden;
	  transition: all .15s ease;
	}
	input:checked ~ nav {
	  max-height: 500px;
	}
	.primary-menu ul {
	  width: 100px;
	}
	

	/*@media (min-width: 768px) {
		input, 
		label {
			display: none;
		}
	}*/

.primary-menu {
	font: 700 12px/40px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  letter-spacing: .5px;
  text-transform: uppercase;
   padding: 40px 220px 22px 0;
   text-align: right;

   }
   
	@media (min-width: 1230px) {
	  .primary-menu {
	    padding: 40px 220px 22px 0;
	    width:50%;
	  }
	}

/*
  ========================================
  Navigation
  ========================================
*/

.primary-menu li {
  display: inline-block;
  margin-left: 30px;
  }
  .primary-menu li:first-child {
  margin-left: 0;
}
	.primary-menu li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Linkuri
  ========================================
*/

.primary-header a {
  color: #000;
  padding-bottom: 9px; 
 }
.primary-header a:hover {
  color: #000;
  border-bottom: 4px solid #5C6BC0; 
}
 .primary-header li.current-menu-item a {
   color: #bdbdbd;
}