.content-area {
	margin:0 15px auto;	  	
  }
 .article {

 }
.article-inner {
	padding:0 15px;
	background-color: #fff;
	border: 1px solid #ebedf0;
	box-shadow: 5px 10px 30px #ebedf0;
	margin-bottom: 50px;
	position:relative;
	}
.date {
	font:400 12px/10px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	color: #c1c1c1;  
  	padding:11px 3px;	
}
.category {
	position:absolute;
	right: -10px;
	top:3.5px;
	z-index: 2;
}
	.category a {
		font:400 12px/10px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  	color: #fff;
	  	background-color: #5C6BC0; 
	  	padding:8px;
	  	white-space: nowrap;
	}
	.category li:not(:first-child) {
		display:none;
	}
.title-post {
	font: 700 30px/36px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: .5px;	
	border-bottom: 1px solid #eee;
	padding: 15px 0 20px 0;
	word-wrap: break-word;
}
	.title-post a:hover{
		color:#5C6BC0;
	}
.image {
	max-width: 100%;
	height: auto;
}
.post {
	font:400 14px/1.6 "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 15px 0 20px 0;
	align-items: left;
	word-wrap: break-word;
	}
	
.more-link {
	text-transform: uppercase;
}
.tag {
	text-align: right;
	margin:0 auto;
}
	.tag a{
		font:400 12px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  	color: #c1c1c1;  	
		padding: 11px 3px;	
		display: inline-block;
		}
.pagenavi {
	position: relative;
	bottom:25px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
	.pagenavi a{
		font:700 12px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #000;
	  	background-color: #fff;
	  	padding: 4px 8px; 
	  	border: 2px solid #eceef1;
	  	margin-left: 5px;
	   }
	.wp-pagenavi span.current {
		font:700 12px/12px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	   color: #fff;
	  	background-color: #5C6BC0; 
	  	padding: 4px 8px; 
	  	border: 2px solid #5C6BC0;
	  	margin-left: 5px;
	  	white-space: nowrap;
	}



blockquote {
width: auto;
background-color: #f9f9f9;
border: 1px solid #c1c1c1;
border-radius: 6px;
box-shadow: 1px 1px 1px #c1c1c1;
font-style: italic;
text-align: center;
}

table {
	width:auto;
	border:none;
	margin-left:15%;
	margin-right:15%;
}

.jsgrid .jsgrid-row>.jsgrid-cell,
.jsgrid .jsgrid-alt-row>.jsgrid-cell,
.jsgrid .jsgrid-grid-header,
.jsgrid .jsgrid-header-row>.jsgrid-header-cell {
    background: transparent !important;
}

.class{
        list-style-type: inherit;
}


img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
} 


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Responsive
  ========================================
*/

@media (min-width: 768px) {
     .content-area {
		margin:0 50px;	 	
  		}
  	.article-inner {
		padding:0 25px;
		}
	.title-post {
		padding: 20px 0 25px 0;
		}
	.post {
		padding: 20px 0 25px 0;
		}
	}
@media (min-width: 992px) {
     .content-area {
		margin:0 200px;	 	
  		}
  	.article-inner {
		padding:0 100px;
		}	
	.title-post {
		padding: 25px 0 40px 0;
		}
	.post {
		padding: 25px 0 40px 0;
		}			
    }

/*
  ========================================
  Typography
  ========================================
*/

h1 {
  font-size: 26px;
  }
h2 {
  font-size: 24px;
  }
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
  }
h6 {
	font-size: 16px;
}
strong {
  font-weight: 600;
}
cite, 
em {
  font-style: italic;
}
