.widget {
display: block;
  font: 400 9px/16px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .5px;
  color: #9DA6D9;
  border-top: 2px solid #5765b5;
  border-bottom: 2px solid #5765b5;
  text-align: center;  
  padding: 20px 10px 20px 10px;
  width: 100%;  
  margin:0 auto;
  }
.widget-title {
	font-size: 15px;
	}
